
.bg-img
    .container
        .col-md-4
            != partial("_partials/menu")
        .col-md-8 
            h1.header= '<Oops />'


.container
    .col-sm-4
        h1.norwester.text-info.text-right Error 404
    .col-sm-8
        h1.norwester.text-primary Page not found