h1.header.center Hi, I'm Greg
div.container
    :markdown
        ### I'm an IT engineer living in  __Rennes, France__.
        ### I like building great __WebApp__, watch stories on __hacker news__, and __learning new stuff__.
        ### But I also like __windsurfing__, ultimate __frisbee__, __photography__...

        ------------------

        #### You can [take a look](pages/labs) on some of my work [read about it](pages/blog), read my [CV](pages/cv) or just [know me better](pages/about-me)