div.container

    h1.header
        .col-md-8.col-md-offset-4 <i class="glyphicon glyphicon-chevron-right"></i> Hi, I'm Greg

    .col-md-8.col-md-offset-4
        hr/

        .lead
            :markdown
                I'm an IT engineer living in  __Rennes, France__.

        .lead
            :markdown
                I like building great __WebApp__, watch stories on __hacker news__, and __learning new stuff__.

        .lead
            :markdown
                But I also like __windsurfing__, __reading__, ultimate __frisbee__, __photography__...

        hr/


        .lead
            :markdown
                You can [take a look](pages/labs) on some of my work [read about it](pages/blog), read my [CV](pages/cv) or just [know me better](pages/about-me)