h1.header.center Hi, I'm Greg
div.container
    h3 I'm an IT engineer living in 
        strong Rennes, France.
    h3 
      |  I like building great <strong>WebApp</strong>, watch stories on 
      |  <strong>hacker news</strong>, and <strong>learning new stuff</strong>.

    h3 But I also like windsurfing, ultimate frisbee, photography...

