
.bg-img
    .container
        .col-md-4
            != partial("_partials/menu")
        .col-md-8 
            h1.header <i class="glyphicon glyphicon-chevron-right"></i> Hi, I'm Greg

.container
    .col-md-8.col-md-offset-4

        .lead
            :markdown
                I'm an IT engineer living in  __Rennes, France__.

        .lead
            :markdown

                I like building great __WebApp__, watch stories on __hacker news__ and __learn new stuff__.

        .lead
            :markdown
                But I also like __windsurfing__, __reading__, ultimate __frisbee__, __photography__...

        hr/


        .lead
            :markdown
                [Take a look](pages/labs) on some of my work, [read about it](pages/blog), read my [resume](pages/cv) or just [know me better](pages/about-me).
