
@font-face {
  font-family: 'Norwester';
  src: url('/fonts/norwester.eot');
  src: url('/fonts/norwester.otf') format('truetype'),
  url('/fonts/norwester.woff') format('woff'),
  url('/fonts/norwester.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious';
  src: url('/fonts/Delicious-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious';
  src: url('/fonts/Delicious-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious-sc';
  src: url('/fonts/Delicious-SmallCaps.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.norwester {
  font-family: "Norwester";
}

h1.header, h2.header {
  .norwester;
  color: white;
  font-weight: normal;
}

h1, h2 {
  font-family: "Delicious-sc";
  font-weight: bold
}

h1.header {
  padding-top: 80px;
  font-size: 65px;
  line-height: 1.2em;
}

.bg-img {
  background-image: url("/img/footer.jpg");
  background-position: center;
  margin-bottom: 30px;
  border-bottom: lighten(#FF7300, 12.5%) solid 1px;
}


// menu animation and tyling
nav.nav {
  z-index: 200;
  // position: absolute;
  width:220px;
  .norwester;

  ul {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    float: left;

    li {
      list-style: none;
      padding: 0px;

      a {
        text-decoration: none;
        font-size: 25px;
        padding: 4px;
        display: block;
        color: transparent;
        background: transparent;
        width: 350px;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        line-height: 20px;

        i {
          color: #FF7500;
          -moz-transition: all .5s;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }
      }

      a:hover {
        background: #FF7500;
        padding-left: 15px;
        color: #FFF;
        width: 250px;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

        i {
          color: #FFF;
          -moz-transition: all .5s;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }

      }
    }
  }
}


h3{
  font-weight: 300;
}

article {
  .header+p {
    font-size: 24px;
  }
}


.text-justify {
  text-align: justify;
}


.container {
  position: relative;
}