
@import "vendors/bootstrap/_less/variables.less";

@font-face {
  font-family: 'Norwester';
  src: url('/fonts/norwester.eot');
  src: url('/fonts/norwester.otf') format('truetype'),
  url('/fonts/norwester.woff') format('woff'),
  url('/fonts/norwester.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious';
  src: url('/fonts/Delicious-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious';
  src: url('/fonts/Delicious-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Delicious-sc';
  src: url('/fonts/Delicious-SmallCaps.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 160px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 120px;
}

.norwester {
  font-family: "Norwester";
}

.delicious-sc {
  // font-family: "Delicious-sc";
  font-family: "Norwester";
}

h1.header {
  .norwester;
  color: white;
  padding-top: 80px;
  font-size: 65px;
}

footer.footer {
  position: absolute;
  bottom:0px;
  margin-top:50px;
}

h1 {
  .norwester;
}

h2, .delicious-sc-bold {
  .delicious-sc;
  font-size: 28px;
  // font-weight: bold;
}
// h1.header {
//   font-size: 65px;
//   line-height: 1.2em;
// }

.bg-img {
  background-image: url("/img/header4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  border-bottom: @brand-info solid 1px;
}


// menu animation and tyling
nav.nav {
  z-index: 200;
  // position: absolute;
  width:220px;
  .norwester;

  ul {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    float: left;

    li {
      list-style: none;
      padding: 0px;

      a {
        text-decoration: none;
        font-size: 25px;
        padding: 4px;
        display: block;
        color: transparent;
        background: transparent;
        width: 350px;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        line-height: 20px;

        i {
          color: @brand-info;
          -moz-transition: all .5s;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }
      }

      a:hover {
        background: @brand-primary;
        padding-left: 15px;
        color: #FFF;
        width: 250px;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

        i {
          color: #FFF;
          -moz-transition: all .5s;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }

      }
    }
  }
}

pre {
  code {
    font-size: 14px;
    overflow-x: scroll;
    white-space: pre;
    text-overflow: ellipsis;
    * {
      font-size: inherit;
    }
  }
}
// pre {
//   -moz-transition: all .5s;
//   -webkit-transition: all .5s;
//   -o-transition: all .5s;
//   transition: all .5s;


    

//   code {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: pre;
//     font-size: 14px;
    
//   }
// }

// pre:hover {
//   margin-left: -200px;
//   code {
//     // -moz-transition: all .5s;
//     // -webkit-transition: all .5s;
//     // -o-transition: all .5s;
//     // transition: all .5s;
//   }
// }

h1+p, h1+p+p, h1+p+p+p, h1+p+p+p+p, h1+p+p+p+p+p{
    font-size: @font-size-base * 1.15
}


.text-justify {
  text-align: justify;
}


.container {
  position: relative;
}