nav.nav
    ul.nav.nav-pills
        li 
            a(href="/") <i class="glyphicon glyphicon-home" ></i> Home
        li
            a(href="/pages/labs") <i class="glyphicon glyphicon-wrench"></i> Labs
        li
            a(href="/pages/blog") <i class="glyphicon glyphicon-book"></i> Stories
        li
            a(href="/pages/cv") <i class="glyphicon glyphicon-list"></i> CV
        li
            a(href="/pages/about-me") <i class="glyphicon glyphicon-user"></i> About me