nav.nav
    ul.nav.nav-pills
        li 
            a(href="/") Home
        li
            a(href="/pages/labs") Labs
        li
            a(href="/pages/blog") Stories
        li
            a(href="/pages/contact") Contact