!!!
html
  head
    != partial("../_partials/head")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body

    .wrap
        .bg-img
            .container
                .col-md-4
                    != partial("../_partials/menu")
                .col-md-8 
                    h1.header= '<' + title + ' />'

        .container
            != yield


    != partial("../_partials/footer")
