!!!
html
  head
    != partial("../_partials/head")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body

    .container
        != partial("../_partials/menu")

    h1.header
        .container
            .col-md-8.col-md-offset-4= '<' + title + ' />'

    .container.text-justify
        != yield
