
.col-md-4
    h4.text-info.text-right Bio
.col-md-8.bio
    :markdown
        #### I'm Greg, I work in IT since 2011.
        #### I like learning new stuff, building great webapps, building things in general. 
        #### I'm also fond of [Ultimate frisbee](http://ffdf.fr) and windsufing

hr.col-md-8.col-md-offset-4


.col-md-4
    h4.text-info.text-right Curriculum-vitae
.col-md-8
    :markdown
        #### You may take a look at my [CV](/pages/cv)

hr.col-md-8.col-md-offset-4

.col-md-4
    h4.text-info.text-right Tech readings
.col-md-8
    :markdown
        #### I read [Hacker news](https://news.ycombinator.com/news) with great interest.
        #### But I also follow Angularjs Blog, Nodejs Blog, Docker Blog Go Blog and many other.

hr.col-md-8.col-md-offset-4

.col-md-4
    h4.text-info.text-right Readings
.col-md-8
    :markdown
        #### Recently I realy realy loved ["The name of the wind"](http://en.wikipedia.org/wiki/The_Name_of_the_Wind) and ["The wise man fear"](http://en.wikipedia.org/wiki/The_Wise_Man's_Fear). I have read both in english first and a second time when they had been published in french.
        #### I also liked "Best Served Cold" by [Joe Abercombrie](http://en.wikipedia.org/wiki/Joe_Abercrombie) and I recently read a few book by [Peter F. Hamilton](http://fr.wikipedia.org/wiki/Peter_F._Hamilton).
        #### [Glenn Cook](http://en.wikipedia.org/wiki/Glen_Cook) is one of my all time favorites authors

hr.col-md-8.col-md-offset-4

.col-md-4
    h4.text-info.text-right Sports
.col-md-8
    :markdown
        #### I play [Ultimate frisbee](http://ffdf.fr) in Rennes club [MrFriz](http://mrfriz.fr/) since 2008. We will be playing in (french) national one this season :-)
        #### I also love windsufing when i have the time. Speeding over sea with a medium wind and a big sail is realy great