
.col-md-4
    p.lead.text-info.text-right Bio
.col-md-8.lead
    :markdown
        I'm Greg; I work in IT since 2011.

        I like __learning new stuff__, building great __web apps__, building things in general.

        I'm also fond of __Ultimate frisbee__ and __windsurfing__.

hr.col-md-8.col-md-offset-4


.col-md-4
    p.lead.text-info.text-right Curriculum-Vitae
.col-md-8.lead
    :markdown
        Take a look at [my resume](/pages/cv) and [contact me](mailto:218rtrf1) if you want.

hr.col-md-8.col-md-offset-4

.col-md-4
    p.lead.text-info.text-right Tech readings
.col-md-8.lead
    :markdown
        I read [Hacker news](https://news.ycombinator.com/news) with great interest.

        But I also follow the news from Angularjs, Nodejs, Docker.io, Golang and many other.

hr.col-md-8.col-md-offset-4

.col-md-4
    p.lead.text-info.text-right Readings
.col-md-8.lead
    :markdown
        Recently I really really loved _The name of the wind_ and _The wise man fear_. I had read both in english first and a second time when they had been published in french.

        I also liked _Best Served Cold_ by _Joe Abercombrie_ and recently read a few book by _Peter F. Hamilton_.

        _Glenn Cook_ is one of my all time favorites authors.

hr.col-md-8.col-md-offset-4

.col-md-4
    p.lead.text-info.text-right Sports
.col-md-8.lead
    :markdown
        I play [Ultimate frisbee](http://ffdf.fr) in Rennes club [MrFriz](http://mrfriz.fr/) since 2008. We will be playing in (french) national one this season :-)

        I also love __windsurfing__ when I have the time. Speeding over the sea in a light wind and a big sail is so awesome.