
//- .row
//-     .col-md-4
//-         h3.text-right.text-info Not yet sorry,
//-     .col-md-8
//-         h3 please comme back soon !
//-         p.text-muted I'm currently writing an article on REST Api with nodejs and restify and a other one about blog and Harp server

each article, index in public.articles.data

    unless article.draft
        .row
            .col-md-4
                h3.text-right.text-info.norwester #{ article.date }
            .col-md-8
                h3
                    a(href="../articles/#{ index }") #{ article.title }
                p.text-muted #{ article.desc }


