
.col-md-4.text-right
	h2.text-info 
		a(href="/pages/cv") My Resume
	img(src="/img/GB.png")

.col-md-6
	.row
		.col-xs-6
			a.thumbnail
				img.img-responsive.img-rounded(src="http://placehold.it/350x495")
			p.text-center.text-muted Colorfull
		.col-xs-6
			a.thumbnail
				img.img-responsive.img-rounded(src="http://placehold.it/350x495")
			p.text-center.text-muted Colorless


.col-md-4.text-right
	h2.text-info
		a(href="/pages/cv-fr") Mon CV
	img(src="/img/FR.png")
.col-md-6
	.row
		.col-xs-6
			a.thumbnail
				img.img-responsive.img-rounded(src="http://placehold.it/350x495")
			p.text-center.text-muted Couleurs
		.col-xs-6
			a.thumbnail
				img.img-responsive.img-rounded(src="http://placehold.it/350x495")
			p.text-center.text-muted Noir & blanc