.row
    .col-sm-4
        h1.delicious-sc-bold.text-right Grégoire Audoux
    .col-sm-8
        .pull-right
            a.thumbnail(href="/pages/cv")
                img(src="/img/GB.png")
        h1.delicious-sc-bold
            small recherche poste ingénieur informatique

.row
    .col-sm-4
        p.text-right
            a.text-info(href="/pages/cv-download") <span class="glyphicon glyphicon-download"></span> Download PDF
    .col-sm-8
        h2 Expériences professionnelles
.row
    .col-sm-4.text-right
        h3.text-info 2013
    .col-sm-8
        h3 Prototypage d'un gestionnaire de mot de passe peer to peer multiplate-forme (en cours, 3 semaines)
        ul
            li Conception et développement d'une appli multi-device JavaScript (web, ios, android)
            li Emphase sur l'utilisation d'une base de code commune
            li Authentification double facteur.
        p
            :markdown
                JavaScript (__angularjs__), JavaScript mobile (__Cordova__, __Ionic__ framework), Chiffrement (SHA3, AES, PBKDF2), CouchDB.

        p.text-muted Projet personnel

.row
    .col-sm-4.text-right
        h3.text-info 2013
    .col-sm-8
        h3 Conception et développement d’une plate-forme open source de synchronisation de fichier (4 semaines)
        ul
            li Conception et développement d’une Api REST avec nodejs et restify
            li Conception et développement d’une WebApp single page avec angularjs
            li Conception et développement d’un Backend hébergeant des dossiers partagés dans des containers LXC/Docker isolés
        p
            :markdown
                JavaScript (__nodejs__, __angularjs__, __restify__), Virtualisation (__docker__), Bittorrent Sync.

        p.text-muted Projet personnel Open Source
.row
    .col-sm-4.text-right
        h3.text-info 2011-2013
    .col-sm-8
        h3 Responsable R&D chez CreaStream (2 ans)
        ul
            li Développement d’une plateforme de diffusion vidéo NextGen
            li Développement d’un gestionnaire de contenu vidéo (CMS vidéo)
            li Conception et développement d’un prototype de codeur vidéo réparti et déployable « dans le cloud » (codage multiprofils et multicodecs)
            li Conception et développement d’un lecteur vidéo universel
            li Conception d’un CDN
        p
            :markdown
                __ Java __ (Backend J2EE, GWT), __ JavaScript (angularjs, nodejs) __, base de données NoSQL (__ Mongodb __), Reverse proxy (Nginx, varnish), Virtualisation (Xen server, KVM, __ Vagrant __), Server provisioning/orchestration (__ Ansible __), Codage vidéo (__ H264/AAC __, __ Vp8/Vorbis __, __ HTTP Live Streaming __).

        p.text-muted Creastream, Rennes (35), France

.row
    .col-sm-4.text-right
        h3.text-info 2010
    .col-sm-8
        h3 Stage de 3 mois chez Kelbillet
        ul
            li Intégration de payement PayPal
            li Conception et développement d’un outil de mise en avant d’offres partenaires en fonction de critère géographique
        p
            :markdown
                __ java __, __ PHP __, __ MySQL __, manipulation et recherche de données géographiques

        p.text-muted Kelbillet, Cesson-Sévigné (35), France

.row
    .col-sm-4.text-right
        h3.text-info 2008
    .col-sm-8
        h3 Stage de 2 mois dans un laboratoire de recherche
        ul
            li Conception et développement d’une application embarquée de communication sans fil p2p
        p Java, JavaME, norme Bluetooth
        p.text-muted Laboratoire VALORIA, Vannes (56), France


.row
    .col-sm-8.col-sm-offset-4
        h2 Formations
.row
    .col-sm-4.text-right
        h3.text-info 2009-2011
    .col-sm-8
        h3 Master informatique génie logiciel
        p.text-muted ISTIC (ex IFSIC), Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3.text-info 2008-2009
    .col-sm-8
        h3 Licence 3 informatique
        p.text-muted IFSIC, Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3.text-info 2006-2008
    .col-sm-8
        h3 DUT informatique (orienté génie logiciel)
        p.text-muted IUT de Vannes (56), France



.row
    .col-sm-8.col-sm-offset-4
        :markdown
            Connaissances
            ---------------
            __Anglais__ courant (très bonne compréhension écrite et oral en particulier)

            Analyse et conception __ UML __

            Langages __ Java __, __ javascript __, __ HTML5 __, __ CSS3 __, PHP, Python, SQL...

            Codage vidéo (__H264__, __Vp8__, H265, Vp9)

            Virtualisation/provisioning/orchestration (__Vagrant__, __Ansible__, __docker__, AWS, KVM)

            Programmation mobile (Android, JavaME)

.row
    .col-sm-8.col-sm-offset-4
        h2 Informations complémentaires
.row
    .col-sm-4.text-right
        p.text-info Sport
    .col-sm-8
        p Pratique de l'<a href="http://www.ffdf.fr/" target="_blank">ulimate frisbee</a> en compétition
        p Planche à voile/Windsurf (loisir)

.row
    .col-sm-4.text-right
        p.text-info Divers
    .col-sm-8
        :markdown
            Photo amateur

            Lecteur assidu d'[Hacker news](httsp://news.ycombinator.com/)

            Lecteur assidu tout court