.row 
    .col-sm-4
        h1.text-right Grégoire Audoux
    .col-sm-8
        h1
            small recherche poste ingénieur informatique

.row     
    .col-sm-8.col-sm-offset-4         
        h2 Expériences Proféssionnelles 
.row
    .col-sm-4.text-right
        h3 2013
    .col-sm-8
        h3 Conception et developement d'une plateforme de synchronisation de fichier opensource (6 semaines)
        ul
            li Conception et dévelopement d'une Api REST avec nodejs et restify
            li Conception et developemtnt d'une Webapp single page avec angularjs
            li Conception et dévelopement d'un Backend hébergant des dossiers partagés dans des container LXC/Docker isolés
        p  Javascript (<strong>nodejs, angularjs, restify</strong>), Virtualisation (<strong>docker</strong>), Bittorrent Sync.
        p.text-muted Projet perso Open Source
.row
    .col-sm-4.text-right
        h3 2011-2013
    .col-sm-8
        h3 Responsable R&D chez CreaStream (2 ans)
        ul
            li Dévelopement d'une plateforme de diffusion vidéo NextGen
            li Dévolepement d'un gestionaire de contenue vidéo (CMS vidéo)
            li Conception et dévelopement d'un prototype de codeur vidéo répartie et déployable "dans le cloud" (codage multi-profils et multi-codecs)
            li Conception et dévelopement d'un lecteur videouniversel
            li Conception d'un CDN
        p 
            :markdown
                __Java__ (Backend J2EE, GWT), __Javascript (angularjs, nodejs)__, base de données NoSQL (__Mongodb__), Reverse proxy (Nginx, varnish), Virtualisation (Xen server, KVM, __Vagrant__), Server provisioning/orchestration (__Ansible__), Codage video(__h264/aac__, __vp8/vorbis__, __HTTP Live Streaming__).

        p.text-muted Creastream, Rennes (35), France

.row
    .col-sm-4.text-right
        h3 2010
    .col-sm-8
        h3 Stage de 3 mois che Kelbillet
        ul
            li Integration de payement PayPal
            li COnception et dévelepement d'une outils de mise en avant d'offres partenaire en fonction de critaire géographique
        p 
            :markdown
                __java, PHP, MySQL__, manipulation et rechèrche de données géographiques

        p.text-muted Kelbillet, Cesson-Sévigné (35), France

.row
    .col-sm-4.text-right
        h3 2008
    .col-sm-8
        h3 Stage de 2 mois dans un laboratoire de rechèrche
        ul
            li Conception et dévelopement d'une application embarquée de communication sans fil p2p
        p Java, JavaME, norme bluetooth
        p.text-muted Laboratoir VALORIA, Vannes (56), France


.row     
    .col-sm-8.col-sm-offset-4         
        h2 Formations
.row
    .col-sm-4.text-right
        h3 2009-2011
    .col-sm-8
        h3 Master informatique génie logiciel
        p.text-muted ISTIC (ex IFSIC), Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3 2008-2009
    .col-sm-8
        h3 Licence 3 informatique
        p.text-muted IFSIC, Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3 2006-2008
    .col-sm-8
        h3 DUT informatique (orienté génie logiciel)
        p.text-muted IUT de Vannes (56), France 



.row     
    .col-sm-8.col-sm-offset-4         
        h2 Connaissances
        p <strong>Anglais</strong> courant (très bonne compréhention ecrite et orale en particulier)
        p Analyse et conception <strong>UML</strong>
        p Langages <strong>Java, javascript, HTML5, CSS3</strong>, PHP, Python, SQL...
        p Codage vidéo (<strong>H264, Vp8</strong>, H265, Vp9)
        p Virtualisation provisioning/orchestration (<strong>Vagrant</strong>, <strong>Ansible</strong>, <strong>docker</strong>, AWS, KVM)
        p Programation mobile (Android, JavaME)

.row     
    .col-sm-8.col-sm-offset-4         
        h2 Informations complémentaires
.row
    .col-sm-4.text-right
        p.text-muted Sport
    .col-sm-8
        p Pratique de l'<a href="http://www.ffdf.fr/" target="_blank">ulimate frisbee</a> en compétition
        p Planche à voile/Windsurf (loisir)

.row
    .col-sm-4.text-right
        p.text-muted Divers
    .col-sm-8
        p Photo amateur
        p Lecteur assidu 
            a(href="httsp://news.ycombinator.com/", target="_blank") d'Hacker news
        p Lecteur assidu tout cour