.row
    .col-sm-4
        h1.delicious-sc-bold.text-right Grégoire Audoux
    .col-sm-8
        .pull-right
            a.thumbnail(href="/pages/cv-fr")
                img(src="/img/FR.png")
        h1.delicious-sc-bold
            small Looking for a WebApp engineer position

.row
    .col-sm-4
        p.text-right
            a.text-info(href="/pages/cv-download") <span class="glyphicon glyphicon-download"></span> Download PDF
    .col-sm-8
        h2 Work experience
.row
    .col-sm-4.text-right
        h3.text-info 2013-2014
    .col-sm-8
        h3 8 weeks on a side project : Open source p2p password manager
        ul
            li Prototyped a multidevice p2p password manager (webapp, chromeapp, mobile)
            li Two factors authentification
        p
            :markdown
                JavaScript (__angularjs__), JavaScript mobile (__Cordova__, __Ionic framework__), Crypto (SHA3, AES, PBKDF2), Database (CouchDB).

        p.text-muted Open source side project
.row
    .col-sm-4.text-right
        h3.text-info 2013
    .col-sm-8
        h3 8 weeks on a side project : Open source folder synchronisation platform based on BitTorrent Sync
        ul
            li Created a REST Api based on nodejs and restify
            li Created a singlepage Webapp with Angularjs
            li Built a backend to isolate Btsync process in separate LXC/Docker container
        p
            :markdown
                JavaScript (__nodejs__, __angularjs__, __restify__), Virtualization (__docker__), BitTorrent Sync.

        p.text-muted Open source side project
.row
    .col-sm-4.text-right
        h3.text-info 2011-2013
    .col-sm-8
        h3 2 years as R&D manager at CreaStream
        ul
            li Designed and developed a  Nextgen video broadcast platform
            li Designed and Developed a Video Content Management System (Video CMS)
            li Designed and developed a « Cloud ready » reparted video encoder (Multiprofile and multicodecs)
            li Designed and developed a universal media player i order to provide the best quality available on every device (Smart TV, Computer, SmartPhone)
            li Designed a general purpose CDN (Http request and HTTP video streaming)
        p
            :markdown
                __Java__ (J2EE Backend, GWT), __JavaScript__ (__Angularjs__, __Nodejs__), NoSQL database (__Mongodb__), Reverse proxy (Nginx, Varnish), Virtualization (Xen server, KVM, __Vagrant__), Server provisioning/orchestration (__Ansible__), Video encoding (__H264/AAC__, __Vp8/Vorbis__, __HTTP Live Streaming__).

        p.text-muted Creastream, Rennes (35), France

.row
    .col-sm-4.text-right
        h3.text-info 2010
    .col-sm-8
        h3 3 months internship at Kellbillet
        ul
            li Paypal payment integration
            li Designed and developed tools to gather and  seek partners deals based on geographic criteria
        p
            :markdown
                __Java__, __PHP__, __MySQL__, Geodata search and manipulation

        p.text-muted Kelbillet, Cesson-Sévigné (35), France

.row
    .col-sm-4.text-right
        h3.text-info 2008
    .col-sm-8
        h3 2 months internship in a research research facility
        ul
            li Designed and developed an embedded p2p Bluetooth software
        p Java, JavaME, Bluetooth
        p.text-muted Laboratoire VALORIA, Vannes (56), France


.row
    .col-sm-8.col-sm-offset-4
        h2 Education
.row
    .col-sm-4.text-right
        h3.text-info 2009-2011
    .col-sm-8
        h3 IT master degree in software design
        p.text-muted ISTIC (ex IFSIC), Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3.text-info 2008-2009
    .col-sm-8
        h3 IT bachelor's degree
        p.text-muted IFSIC, Université de Rennes 1 (35), France
.row
    .col-sm-4.text-right
        h3.text-info 2006-2008
    .col-sm-8
        h3 IT DUT (College technical degree)
        p.text-muted IUT de Vannes (56), France



.row
    .col-sm-8.col-sm-offset-4
        :markdown
            Professional skills
            ---------------
            Good __english__ skills, both oral and written.

            __UML__ conceptualization and design

            Languages __ Java __, __ javascript __, __ HTML5 __, __ CSS3 __, PHP, Python, SQL...

            Vidéo encoding (__H264__, __Vp8__, H265, Vp9)

            Virtualization/provisioning/orchestration (__Vagrant__, __Ansible__, __docker__, AWS, KVM)

            Mobile programing (Android, JavaME)

.row
    .col-sm-8.col-sm-offset-4
        h2 Miscellaneous
.row
    .col-sm-4.text-right
        p.text-info Sports
    .col-sm-8
        p Championship <a href="http://www.ffdf.fr/" target="_blank">Ultimate frisbee</a>
        p Windsurf

.row
    .col-sm-4.text-right
        p.text-info Miscellaneous
    .col-sm-8
        :markdown
            Enthusiast photograher

            [Hacker news](httsp://news.ycombinator.com/) assiduous  reader

            Simply assiduous reader