
.row
    .col-md-4
        h3.pull-right.text-muted WebApp
    .col-md-8 
        :markdown
            ### [Plop-sync](https://plop.io/sync/)
            Bittorrent sync cloud plateforme build with nodejs, restify, angularjs, btsync and docker.io.

hr

.row
    .col-md-4
        h3.pull-right.text-muted WebApp
    .col-md-8
        :markdown
            ### [Test](#)
            Tralala description
