!!!
html
  head
    link(rel="stylesheet", href="/vendors/bootstrap/less/bootstrap.css")
    link(rel="stylesheet", href="/main.css")
  body
    
    .container
        != partial("../_partials/menu")
      
    
    .container
        article.col-md-8.col-md-offset-2
            h1.header #{ title }  
            != yield
